services:
  devcontainer:
    image: mcr.microsoft.com/devcontainers/java:1-21-bullseye
    container_name: codeflix-catalog-backend
    hostname: codeflix-catalog-backend
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    networks:
      - codeflix
    ports:
        - "9595:9595"
        - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
  db:
    image: mysql:8.4
    container_name: codeflix-catalog-backend-db
    hostname: codeflix-catalog-backend-db
    volumes:
      - ./.docker/dbdata:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=codeflix_adm_videos
    ports:
      - "33064:3306"
    networks:
      - codeflix
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 10s
      retries: 3
networks:
  codeflix:
    driver: bridge
